<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="description" content="KLineChart example" />
    <title>缠论</title>
    <script type="text/javascript" src="/static/klinecharts.min.js"></script>
    <style>
        html {
            background: #FFFFFF;
            height: 100%;
        }
        body {
            margin: 0;
            height: 100%;
        }
        #chart {
            height: 100%;
        }
    </style>
</head>
<body>
<div id="chart"></div>
<script>
var chart = klinecharts.init('chart', {
    timezone: 'Asia/Shanghai',
    customApi: {
        formatDate: function (dateTimeFormat, timestamp, format, type) {
            return timestamp
        }
    }
})
chart._chartStore._timeScaleStore.setBarSpaceLimitConfig(0.01, 20)
// chart.createIndicator('MA', false, { id: 'candle_pane' })
chart.createIndicator('VOL')
chart.createIndicator('MACD')
chart.setStyles({
    // 网格线
    grid: {
        show: true,
        horizontal: {
            show: true,
            size: 1,
            color: '#E6E6E6',
            style: 'solid',
        },
        vertical: {
            show: false,
            size: 0,
            color: '#E6E6E6',
            style: 'solid',
        }
    },
    candle: {
        // 蜡烛图类型 'candle_solid'|'candle_stroke'|'candle_up_stroke'|'candle_down_stroke'|'ohlc'|'area'
        type: 'candle_solid',
        bar: {
            upColor: '#F21414',
            downColor: '#08B536',
            noChangeColor: '#888888',
            upBorderColor: '#F21414',
            downBorderColor: '#08B536',
            noChangeBorderColor: '#888888',
            upWickColor: '#F21414',
            downWickColor: '#08B536',
            noChangeWickColor: '#888888'
        },
    },
    indicator: {
        bars: [{
            // 'fill' | 'stroke' | 'stroke_fill'
            style: 'fill',
            // 'solid' | 'dashed'
            borderStyle: 'solid',
            borderSize: 1,
            borderDashedValue: [2, 2],
            upColor: '#F21414',
            downColor: '#08B536',
            noChangeColor: '#888888'
        }],
        lastValueMark: {
            show: true,
        },
    }
});

klinecharts.registerOverlay({
    name: 'rect',
    lock: true,
    totalStep: 3,
    needDefaultPointFigure: false,
    needDefaultXAxisFigure: true,
    needDefaultYAxisFigure: true,
    createPointFigures: ({coordinates}) => {
        if (coordinates.length === 2) {
            return [
                {
                    type: 'polygon',
                    attrs: {
                        coordinates: [
                            coordinates[0],
                            {x: coordinates[1].x, y: coordinates[0].y},
                            coordinates[1],
                            {x: coordinates[0].x, y: coordinates[1].y}
                        ]
                    },
                    styles: {style: 'stroke_fill'}
                }
            ]
        }
        return []
    }
});
klinecharts.registerOverlay({
  name: 'betterAnnotation',
  totalStep: 2,
  styles: {
    text: {
      borderSize: 1,
      borderRadius: 8,
      borderColor: 'rgba(129,1,1,0.5)',
      paddingLeft: 5,
      paddingRight: 5,
      paddingTop: 5,
      paddingBottom: 5,
      backgroundColor: 'rgba(236,171,7,0.8)'
    },
    line: { style: 'dashed', color: 'rgba(129,1,1,0.5)'},
    polygon: {color: 'rgba(129,1,1,0.5)'}
  },
  createPointFigures: ({ overlay, coordinates }) => {
    let text = overlay.extendData.text ?? ''
    let direction = overlay.extendData.direction ?? true
    const startX = coordinates[0].x
    const startY = coordinates[0].y
    const lineEndY = startY - (direction ? 30 : -30)
    return [
      {
        type: 'line',
        attrs: { coordinates: [{ x: startX, y: startY }, { x: startX, y: lineEndY }] },
        ignoreEvent: true
      },

      {
        type: 'text',
        attrs: { x: startX, y: lineEndY, text: text ?? '', align: 'center', baseline: direction ? 'bottom' : 'top' },
        ignoreEvent: true
      }
    ]
  }
});

chart._chartStore.getTimeScaleStore().zoom(1000)
fetch(`/data`)
.then(response => response.json())
.then(data => {
    // 加载数据
    chartDataList = data.bar_list
    chart.applyNewData(chartDataList)

    data.bar_union_list?.forEach(function (item) {
        chart.createOverlay({
            name: 'rect',
            groupId: 'rect',
            lock: true,
            points: [item.begin, item.end],
            styles: {
                polygon: {
                    color: 'rgba(128, 128, 0, 0.3)',
                    borderColor: 'rgba(128, 128, 0, 0.8)',
                    borderStyle: item.is_sure ? 'solid' : 'dashed',
                    borderDashedValue: [2, 1],
                }
            },
        });
    })

    data.fractal_list?.forEach(function (item) {
        chart.createOverlay({
            name: 'betterAnnotation',
            groupId: 'betterAnnotation',
            extendData: {
                'direction': item.direction === 'TOP',
                'text': item.direction === 'TOP' ? '顶' : '底',
            },
            lock: true,
            points: [item],
            styles: {
                text: {
                    color: item.direction === 'TOP' ? 'white' : 'white',
                }
            },
        });
    })

    data.stroke_list?.forEach(function (item) {
        chart.createOverlay({
            name: 'segment',
            groupId: 'segment',
            lock: true,
            needDefaultPointFigure: false,
            needDefaultXAxisFigure: false,
            needDefaultYAxisFigure: false,
            points: [item.begin, item.end],
            styles: {
                line: {
                    color: '#000',
                    style: item.is_sure ? 'solid' : 'dashed',
                    dashedValue: [10, 5],
                    size: 1
                }
            },
        });
    })
});
</script>
</body>
</html>